<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/shared/shared.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
{{- $sharedSCSS := $sharedSCSS | resources.ExecuteAsTemplate "main.scss" . -}}

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/shared/shared.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}

<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>
<script>{{- $sharedJS.Content | safeJS -}}</script>
<!-- Umami -->
<script
  async
  defer
  src="https://umami.ekenhome.se/script.js"
  data-website-id="57f7f0df-5ab2-4e1f-82ce-056c2e5b58aa"></script>

